html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    width: 100%;
    font-family: sans-serif;
}
header {
    background-color: #5AF;
}
h1 {
    text-align: center;
    color: white;
    margin: 0;
}
img.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.profile {
    width: 20%;
}

p.center {
    text-align: center;
}