html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    width: 100%;
    font-family: sans-serif;
}
header {
    background-color: #5AF;
}
h1 {
    text-align: center;
    color: white;
    margin: 0;
    padding-bottom: 1%;
}
img.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.profile {
    width: 20%;
}

p.center {
    text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #aaa;
}

li {
  float: left;
  width: 50%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #ccc;
}
h2.center {
    text-align: center;
}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #aaa;
  color: #fff;
  text-align: center;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer i {
    display:block;
    margin-left: auto;
    margin-right: auto;
}