:root {
    --main-theme: #5AF;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    width: 100%;
    font-family: sans-serif;
    text-align: center;
    margin: 0 auto;
}
header {
    background-color: var(--main-theme);
}

#wrapper {
    max-width: 1024px;
    margin: 0 auto;
    text-align: center;
}

h1 {
    text-align: center;
    color: white;
    margin: 0;
    padding-top: .5%;
    padding-bottom: 1%;
}
img.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.profile {
    width: 250px;
    padding: 1%;
    border-radius: 8%;
}
.profiletext {
    font-size: 1.50em;
    padding-top: 1%;
    padding-right: 10%;
    text-align: left;
}

img.left {
    float:left;
}
p.center {
    text-align: center;
}

h2.center {
    text-align: center;
}
footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #555;
  color: #fff;
  text-align: center;
}
footer a {
  color: white;
  text-decoration: none;
}

div {
  clear: left;
}
.foottext {
   color: var(--main-theme);
}
footer i {
    color: white;
}
#bio {
    padding-bottom: 20%;
}
#work {
    font-size: 2em;
}
@media only screen and (max-width: 360px) {
  .profile {
    width: 90%;
  }
}